 <button class="btn btn-info" id="reset">Reset</button>
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-6 card my-5">
      <img src="/assets/img/burger.png" alt="Burger Image">
      <h2 id="title">Eat-Da-Burger</h2>
      <form id="createburger" class="button-size">
        <textarea class="col-6" type="text" id="bu" rows="3"></textarea>
        <br />
        <button class="btn btn-primary" type="submit">Submit</button>
        <p class="my-3">
          Enter a burger you want to eat and then click the "Submit" button.
        </p>
      </form>
    </div>
  </div>
  <div class="row d-flex justify-content-around">
    <div class="col-4">
      <h3>Untouched Burgers</h3>
      <ul id="undevoured" class="noDot">
        {{#each burger}} {{#unless this.devoured}}
        <li>
          <p>
            {{this.id}}. {{this.name}}
            <button
              class="devour btn btn-danger"
              data-id="{{this.id}}"
              data-name="{{this.name}}"
            >
              Devour!
            </button>
          </p>
        </li>
        {{/unless}} {{/each}}
      </ul>
    </div>
    <div class="col-4">
      <ul id="devoured" class="noDot">
        <h3>Devoured Burgers</h3>
        {{#each burger}} {{#if this.devoured}}
        <li>
          <p>
            {{this.id}}. {{this.name}}
          </p>
        </li>
        {{/if}} {{/each}}
      </ul>
    </div>
  </div>
</div>
