<style>
  #undevoured{
    float: left;
  }
  #devoured{
    float: right;
  }
</style>
<h2>Eat-Da-Burger</h2>
<form id="createburger" class="button-size">
  <textarea type="text" id="bu" rows="3"></textarea>
  <button type="submit">Submit</button>
  <p>Enter a burger you want to eat and then click the "Submit" button.</p>
</form>

<ul id="undevoured">
  <h3>Untouched Burgers</h3>
  {{#each burger}}
  {{#unless this.devoured}}
  <li>
    <p>
      {{this.id}}. {{this.name}}
    </p>
    <button class="devour" data-id="{{this.id}}" data-name="{{this.name}}">
	  	Devour!
  	</button>
  </li>
  {{/unless}}
  {{/each}}
</ul> 
<ul id="devoured">
  <h3>Devoured Burgers</h3>
  {{#each burger}}
  {{#if this.devoured}}
  <li>
    <p>
      {{this.id}}. {{this.name}}

    </p>
  </li>
  {{/if}}
  {{/each}}
</ul> 